@page "/bt-giohang"

<div class="container">
    <GioHang dataGioHang="@lstSPGH"
    tangGiamSoLuong="tangGiamSoLuong"
    xoaSanPham="xoaSanPham" />
    <DSSanPham themGioHang="themGioHang" />

</div>

@code
{
    public List<SanPhamGioHang> lstSPGH = new List<SanPhamGioHang>()
        {
            @* new SanPhamGioHang()
            {
                MaSanPham = 1, TenSanPham = "Sản phẩm 1", GiaBan = 1000, SoLuong = 2, HinhAnh="https://dummyimage.com/200x200?text=spgh-demo"
            },
            new SanPhamGioHang()
            {
                MaSanPham = 1, TenSanPham = "Sản phẩm 1", GiaBan = 1000, SoLuong = 2, HinhAnh="https://dummyimage.com/200x200?text=spgh-demo"
            } *@
        };
    
    public void themGioHang(SanPhamGioHang spClick)
    {
        // Xử lý thêm giỏ hàng tại đây

        // kiểm tra sản phẩm click có trong giỏ hàng hay chưa
        SanPhamGioHang? checkSP = lstSPGH.Find(sp=>sp.MaSanPham == spClick.MaSanPham);
        if(checkSP != null)
        {
            checkSP.SoLuong +=1; // NẾU TỒN TẠI THÌ TĂNG SỐ LƯỢNG CHỨ KHÔNG ADD
        } else {
            lstSPGH.Add(spClick); // NẾU K TỒN TẠI TRONG GIỎ HÀNG THÌ THÊM VÀO
        }
    }

    public void tangGiamSoLuong(ObjectValue maSPSL)
    {
        SanPhamGioHang? checkSP = lstSPGH.Find(sp => sp.MaSanPham == int.Parse(maSPSL.Key));
        if(checkSP != null)
        {
            if(checkSP.SoLuong == 1 && maSPSL.value == "-1")
            {
                // xử lý xoá sản phẩm trong giỏ hàng nếu về 0
                lstSPGH.Remove(checkSP);

                return;
                
            }
            checkSP.SoLuong += int.Parse(maSPSL.value);
        }
    }

    public void xoaSanPham(int maSP)
    {
        lstSPGH = lstSPGH.Where(sp=>sp.MaSanPham != maSP).ToList();
    }
}