@page "/componentparameter"

<div class="container-fluid">
    <h1>Demo component parameter</h1>
    <div class="row">
        @foreach (ProductCardVM item in lstProduct)
        {
            <div class="col-md-4 mt-2">
                <ProductCard prodItem="@item" />
            </div>
        }
    </div>
</div>
@code {
    List<ProductCardVM> lstProduct = new List<ProductCardVM>(){
    new ProductCardVM() {
    id=1,name="Iphone",price=1000,img = "https://picsum.photos/id/1/200/200"
    },
    new ProductCardVM() {
    id=2,name="Galaxy note 25",price=2000,img = "https://picsum.photos/id/2/200/200"
    },
    new ProductCardVM() {
    id=3,name="Xiaomi mi 20",price=3000,img = "https://picsum.photos/id/3/200/200"
    }
    };
}