@page "/demo-param-children"

<div class="container-fluid">
    <h3>Truyền dữ liệu children qua innerHTML</h3>
    <DemoCom>
        <p>Nội dung có thể là html</p>
        hoặc component
    </DemoCom>
</div>