@page "/demo-setparam"

<div class="container" style="margin: 50px auto;">
    <div class="row" >
        @foreach(ProductCardVM item in lstProduct){
            <div class="col-md-3 mt-2" >
            <div class="card" >
                <img src="@item.img" alt="..." />
            </div>
            <div class="card-body">
                <h3>@item.name</h3>
                <p>@item.price</p>
                <button @onclick="()=>ViewDetail(item)" class="btn btn-outline-success" >View detail</button>
            </div>
        </div>
        }
    </div>
    <hr />
    <DetailProduct prodDetail="@prodDetail" />
</div>

@code {
    public List<ProductCardVM> lstProduct = DbCarProduct.lstProductCar;
    public ProductCardVM prodDetail = DbCarProduct.lstProductCar[1];    

    void ViewDetail(ProductCardVM prodClick){
        prodDetail = prodClick;
    }

}