@inherits LayoutComponentBase
<div class="d-flex">
    @* sidenav *@
    <div class="bg-warning text-white min-vh-100 p-3 d-flex justify-content-center align-items-center"
        style="width: 250px; min-width:250px">
        <nav class="d-flex flex-column align-items-center">
            <a href="/about">
                <span class=" mb-4">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" style="width: 100px; height: 100px"
                    src="https://i.pravatar.cc?u" alt="">
                </span>
            </a>

            <nav class="nav flex-column text-center w-100">
                <NavLink href="/about" class="nav-link text-white " activeClass=" fw-bold">ABOUT</NavLink>
                <NavLink href="/experience" class="nav-link text-white" activeClass="fw-bold">EXPERIENCE</NavLink>
                <NavLink href="/education" class="nav-link text-white" activeClass="fw-bold">EDUCATION</NavLink>
                <NavLink href="/skills" class="nav-link text-white" activeClass="fw-bold">SKILLS</NavLink>
                <NavLink href="/interests" class="nav-link text-white" activeClass="fw-bold">INTERESTS</NavLink>
                <NavLink href="/awards" class="nav-link text-white" activeClass="fw-bold">AWARDS</NavLink>

            </nav>
        </nav>

    </div>
    <div class="flex-grow-1">
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>