@page "/demo-rendering"


<div class="p-4">
  <div class="container border border-warning p-4">
    <h2>Parent Component</h2>
    <div class="row">
      <!-- Static Card -->
      <div class="col-md-4">
        <StaticCard />
      </div>
      <!-- Dynamic Notification List -->
      <div class="col-md-8">
        <h5>Dynamic Notification List</h5>

        <ChildComponent />
       </div>
    </div>
    <button class="btn btn-outline-dark" id="renderBtn" @onclick="handleRender">Render parent (@renderCount)</button>
  </div>
</div>

@code {
    public int renderCount{get;set;} = 1;
    public void handleRender()
    {
        renderCount++;
    }

    @code
{
    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine($"render ParentComponent {firstRender}");
    }
}
}